.app{
    background-color: var(--azul-escuro);
}

.home{
    padding-top: 10%;
}

.painel-principal{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}

.subtitulo{
    color: var(--branco);
    font-family: var(--ibm-plex-sans);
    font-size: 26px;
    font-weight: 400;
}

.painel-texto{
    color: var(--branco);
    margin-top: 2%;
}

.ilustracao{
    z-index: -1;
    margin: 2% 40px -18px 0;
    height: 313px;
    background-image: url(/assets/img/ilustracao.svg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain; 
    width: 100%;
}
 
 .logo-principal{
    display: flex; 
    justify-content: center;
} 

.background-vertical-home{
    background-image: url(/assets/img/background/Forma-vertical.svg);
    position: absolute;
    height: 415px ;
    width: 84.03px;
    right: 0;
    background-position: right 0;
    background-repeat: no-repeat;
    z-index: -1;
}

@media screen and (max-width: 767px) {
    .botao{
        width: 190px;
    }

    .logo-principal{
        width: 52%;
    }
}

@media screen and (min-width: 500px) {

    .painel-texto{
         margin-bottom: 4%; 
    }
}

@media screen and (min-width: 1000px) {
    .painel-principal{
        margin-top: -5%;
    } 
}

@media screen and (min-width: 1440px) {

    .painel-principal{
        margin-top: -10%;
    }  
}